h1 {
  color: brown;
}

.class {
  color: blue;
}

#id {
  color: darkorange;
}

.header {
  background-color: aqua;
}

.sidebar {
  background-color: blanchedalmond;
}

.footer {
  background-color: aquamarine;
}

.homepage {
  display: flex;
}

.main {
  width: 75%;
}

.sidebar {
  width: 25%;
}
