h1 {
  color: brown;
}

.class {
  color: blue;
}

#id {
  color: darkorange;
}

.header {
  background-color: aqua;
}

.header ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.header ul .nav-link {
  padding: 0 20px;
  text-decoration: none;
}

.header ul .nav-link:hover {
  font-weight: bold;
}

.footer {
  background-color: aquamarine;
}

.homepage {
  display: flex;
}

.main {
  width: 75%;
}

.sidebar {
  background-color: blanchedalmond;
  width: 25%;
}
